{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>{{post.title}}</h3>
            <p>{{post.content}}</p>
            <p>{{post.author}} - {{post.createdAt|date("d/m/Y")}}</p>
            <a href="/home" class="btn btn-primary">back Home</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {{ form(form) }}
        </div>
        <div class="col-md-9">
            {% for comment in post.comments %}
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">{{comment.pseudo}}</h6>
                        <h7 class="card-subtitle mb-2 text-muted">{{comment.createdAt|date("d/m/Y H:m:s")}}</h7>
                        <p class="card-text">{{comment.content}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}